# .gitignore file

# Virtual environment
env/

# Python specific
*.pyc
__pycache__/

# Django specific
db.sqlite3
*.log
media/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.idea/
.vscode/
*.swp

# Sphinx documentation
docs/_build/

# Docker specific
*.dockerignore
